root = true

[*]
trim_trailing_whitespace = true
insert_final_newline = true

[*.sh]
indent_style = space
indent_size = 2

# 4 space indentation for python
[*.py]
indent_style = space
indent_size = 4

# 2 spaces for javascript
[*.{js,coffee,yml,json}]
indent_style = space
indent_size = 2

